%footer
  .container
    .row
      .col-xs-12.no-space
        .row.credit-links
          %ul.col-xs-6.col-sm-4.col-md-2
            %li
              Get in touch
            %li
              = link_to 'Subscribe', 'http://subscriptions.thestage.co.uk/?utm_source=bottom%20navigation%20bar&#038;utm_medium=navigation%20bar&#038;utm_campaign=the%20stage%20bottom%20navigation%20bar', target: '_blank'
            %li
              = link_to 'About The Stage', '/about/', target: '_blank'
            %li
              = link_to 'Contact us', '/contact/', target: '_blank'
            %li
              = link_to 'Advertising enquiries', '/advertise/', target: '_blank'
            %li
              = link_to 'Where to buy The Stage', 'http://bit.ly/buystage', target: '_blank'
            %li
              = link_to 'Subscriptions FAQ', '/faq/', target: '_blank'
            %li
              = link_to 'Scholarships FAQ', '/the-stage-scholarships-faq/', target: '_blank'
          %ul.col-xs-6.col-sm-4.col-md-2
            %li
              Editorial
            %li
              = link_to 'Home', '/', target: '_blank'
            %li
              = link_to 'News', '/news/', target: '_blank'
            %li
              = link_to 'Reviews', '/reviews/', target: '_blank'
            %li
              = link_to 'Option', '/opinion/', target: '_blank'
            %li
              = link_to 'Features', '/features/', target: '_blank'
            %li
              = link_to 'Advice', '/advice/', target: '_blank'
          .clearfix.visible-xs-block
          %ul.col-xs-6.col-sm-4.col-md-2
            %li
              More from The Stage
            %li
              = link_to 'Training', '/training/', target: '_blank'
            %li
              = link_to 'Archive', 'http://archive.thestage.co.uk', target: '_blank'
            %li
              = link_to 'Directory', '/directory/', target: '_blank'
            %li
              = link_to 'Castings', 'http://castings.thestage.co.uk', target: '_blank'
            %li
              = link_to 'Dating', 'http://www.lovearts.co.uk/s/a/19425?utm_source=thestage.co.uk&#038;utm_medium=referral&#038;utm_content=thestage_nav_bar&#038;utm_campaign=thestage_nav_bar', target: '_blank'
            %li
              = link_to 'Digital edition', '/digital/', target: '_blank'
            %li
              = link_to 'Mobile apps', '/app/', target: '_blank'
          %ul.col-xs-6.col-sm-4.col-md-2
            %li
              Awards
            %li
              = link_to 'The Stage Awards', '/awards/', target: '_blank'
            %li
              = link_to 'The Stage Edinburgh Awards', 'https://www.edfringe.com/media/award-winners#StageAward', target: '_blank'
            %li
              = link_to 'UK Theatre Awards', 'http://uktheatre.org/training-events/uk-theatre-awards/', target: '_blank'
            %li
              = link_to 'SMA Awards', 'http://www.stagemanagementassociation.co.uk/conference/awards', target: '_blank'
          .clearfix.visible-xs-block
          %ul.col-xs-6.col-sm-4.col-md-2
            %li
              Social media
            %li
              = link_to 'Facebook', 'https://www.facebook.com/thestage', target: '_blank'
            %li
              = link_to 'Twitter', 'https://twitter.com/TheStage', target: '_blank'
            %li
              = link_to 'Instagram', 'http://instagram.com/thestageuk', target: '_blank'
            %li
              = link_to 'Linkedin', 'https://www.linkedin.com/company/the-stage-media-company-ltd', target: '_blank'
            %li
              = link_to 'Pinterest', 'https://uk.pinterest.com/thestage/', target: '_blank'
            %li
              = link_to 'Google+', 'https://plus.google.com/+thestage/posts', target: '_blank'
            %li
              = link_to 'YouTube', 'https://www.youtube.com/user/thestagenewspaper', target: '_blank'
          %ul.col-xs-6.col-sm-4.col-md-2
            %li
              Legal
            %li
              = link_to 'Cookies', '/cookies/', target: '_blank'
            %li
              = link_to 'Terms and conditions', '/jobs-terms/'
            %li
              = link_to 'Contributor agreement', '/the-stage-contributor-agreement/', target: '_blank'
            %li
              = link_to 'Privacy policy', '/privacy/', target: '_blank'
            %li
              = link_to 'House rules', '/house-rules/', target: '_blank'
      .footer-logo-image
        = link_to image_tag(logo), root_url, :class => "logo"
